@charset "UTF-8";
@font-face {
    font-family: 'Angel';
    src: url('fonts/Angel\ wish.ttf') format('truetype'), url('fonts/Angel\ wish.otf') format('opentype');
    /* Tipos de formatos:display:
        - opentype(otf)
        - truetype (ttf)
        - embedded-opentype
        - truetype-aat(apple advanced typography)
        - svg
    */
    font-weight: normal;
    font-style: normal;
}
body{
    font-family: 'Courier New', Courier, monospace;
}
h1{
    font-family: Angel, Helvetica, sans-serif;
    font-size: 4em;
    font-weight: normal;
}